<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página inicial</title>
    <link rel="stylesheet" href="/style.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Sistema de Cadastro</h1>

    <footer>
        <div class="links-container">
            <a th:href="@{/cadastro}">Novo Livro</a>
            <a th:href="@{/listagem}">Listar Livro</a>
        </div>
    </footer>
</body>
</html>